/.devcontainer
/.github
/.vscode
/.next
/data
/target
/node_modules
.dockerignore
.env
.gitignore
Cargo.lock
docker-compose-postgres.yml
docker-compose-postgres.dev.yml
docker-compose-surrealdb.yml
docker-compose-surrealdb.dev.yml
Makefile
Dockerfile
*.md
shell.nix
